{% load sass_tags %}
{% load static %}


<link href="{% sass_src 'css/nav.scss' %}" rel="stylesheet" type="text/css" />

<header class="header">
  <div class="primaryHeader">
    <div class="logo">
      <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"/></a>
    </div>

    {% if request.user.is_authenticated %}
    <div class="callToActions">
      <ul>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
          <a href="{% url 'profile' user.username %}">Welcome {{request.user.first_name}}</a>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="callToActions">
      <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <a><li>Sign Up</li></a>
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="secondHeader">
    <div class="links">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'papers' %}">Papers</a></li>
        <li><a href="{% url 'speakers' %}">Speakers</a></li>
        <li><a href="{% url 'reservations' %}">Reservations</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
      </ul>
    </div>
  </div>
</header>
