<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <div>
            <label for="title">Title</label>
            <select id="title" name="title", required>
                <option value="Mr">Mr</option>
                <option value="Ms">Ms</option>
                <option value="Dr">Dr</option>
                <option value="Prof">Proffessor</option>
            </select>
        </div>

        <div>
            <label for="firstname">Name</label>
            <input type="text" name="firstname" maxlength="150" required id="firstname">
        </div>

        <div>
            <label for="surname">Surname</label>
            <input type="text" name="surname" maxlength="150" required id="surname">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" maxlength="150" required id="email">
        </div>
        <div>
            <label for="confirm_email">Confirm Email</label>
            <input type="email" name="confirm_email" maxlength="150" required id="confirm_email">
        </div>

        <div>
            <label for="passowrd">Password</label>
            <input type="password" name="passowrd" maxlength="150" required id="passowrd">
        </div>

        <div>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" maxlength="150" required id="confirm_password">
        </div>
        
        <div>
            <label for="organisation">Organisation</label>
            <select id="organisation", name="select_organisation">
                {% for organisation in organisations %}
                    <option value="{{organisation.organisationid}}">{{organisation.name}}</option>
                {% endfor %}
            </select>
        </div> -->

        <input type="submit" value="Register">
    </form>
</div>
